header {
width: 100%;
<<<<<<< HEAD
}

.block-system-branding-block {
  text-align: center;
=======

.site-name {
  margin: 0 auto;
  width: 1px;
}
.site-name a {
  font-size: 3rem;
  text-decoration: none;
  color:#fff;
}
>>>>>>> a48f008917d10724073068f3237aac135e889f2d
}
